# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\matil\Documents\feup\2_MIEIC_2020-21\1_Semestre\AEDA\aeda18-19-cpi3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
